
  /* POPUP STYLES */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    max-width: 300px;
    padding: 10px;

    border-radius: 15px;
  }

  .form-popup input[type=text] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    background: #f1f1f1;
    border: none;
  }

  .form-popup .btn {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
  }

  .form-popup .add {
    background-color: #d5b4bb;
    color: white;
  }

  .form-popup .cancel {
    background-color: grey;
    color: white;
  }

  .form-popup .btn:hover {
    opacity: 0.9;
  }

  

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  #myUL li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 1s;
    text-decoration: none;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
 

  /* Set all odd list items to a different color (zebra-stripes) */
  #myUL li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  #myUL li:hover {
    background: #ddd;
    text-decoration: none;
  }
  
  /* When clicked on, add a background color and strike out text */
  #myUL li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: rgba(245, 109, 109, 0.784);
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #c2e2ed;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 40%;
    padding: 10px;
    float: left;
    font-size: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 10%;
    background: #e8e5e5;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .addBtn:hover {
    background-color: #d5b4bb;
  }

  /* Style the "Add" button */
  .shareBtn {
    padding: 10px;
    width: 10%;
    background: #e8e5e5;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .shareBtn:hover {
    background-color: #d5b4bb;
  }

  h1{
    font-size: 30px;
  }
  