.user-info {
  background-color: #ffffff;
  padding: 2px;
  margin-bottom: 2px;
  border-left: 5px solid #89a8b2;
  border-radius: 8px;
  width: 98.5%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.username-display {
  font-size: 14px;
  color: #89a8b2;
  margin-top: 2px;
}

.logout-link {
  display: inline-block;
  margin-top: 2px; 
  color: #89a8b2;
  text-decoration: none;
  font-size: 14px;
}

.logout-link:hover {
  color: #567782;
  text-decoration: none;
}


.guest-info {
  background-color: #ebe7d4;
  padding: 15px;
  margin-bottom: 20px;
  border-left: 5px solid #89A2B2;
  border-radius: 10px;
  width: fit-content;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.login-link,
.signup-link {
  color: #5C6AC4;
  text-decoration: none;
  font-weight: bold;
}

.login-link:hover,
.signup-link:hover {
  text-decoration: underline;
  color: #3f4ba0;
}



body{
  padding: 25px;
}
.title {
	color: #89a8b2;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#DDDDDD;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  color: #000000;
  text-decoration: none;
}

li a:hover {
  background-color: #89A2B2;
  color: #f1f0e8;
}

.active {
  background-color: #ebe7d4;
}

article {
  flex: 1;
  float: left;
  width: 90%;
  margin-top: 20px;
  margin-left: 30px;
}




